body {
    background-color: #CEE8DE;
}
h1 {
    text-align: center;
}
.logo {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.header { grid-area: header; }
.menu { grid-area: menu; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu ';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.Projects {
    margin: auto;
    display: inline-block;
}  
.Projects-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}
.Projects-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
a {
    color: #fff;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 25%;
  }
  /* Hamburger */
  .hamburger1 {
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: right;
    z-index: 120;
  }
  
  .hamburger1 div {
    background-color: rgb(61, 61, 61);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 170px;
  }
  
  
  /* Menu */
  .menu1 {
    border-width: 2px;
    border-radius: 4px;
    float:right;
    width: 20%;
    background-color: #96A8A1;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    padding: 0;
    list-style: none;
    clear: both;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .menu1 a:first-child {
    margin-top: 20px;
  }
  .menu1 a:last-child {
      margin-bottom: 20px;
  }
  .drinkIMG {
     width: 15%;
  }
  .link1 {
    text-align: center;
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
  }
  
  .link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .input-name {
    justify-items: center;
  }
